@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #00ff7f;

		--background: 159 65% 4%;
		--foreground: 159 10% 97.5%;

		--muted: 159 100% 15.5%;
		--muted-foreground: 159 10% 55%;

		--popover: 159 100% 0%;
		--popover-foreground: 159 10% 97.5%;

		--card: 159 100% 0%;
		--card-foreground: 159 10% 97.5%;

		--border: 159 100% 15.5%;
		--input: 159 100% 15.5%;

		--primary: 159 100% 50%;
		--primary-foreground: 159 10% 5%;

		--secondary: 159 100% 15.5%;
		--secondary-foreground: 159 10% 97.5%;

		--accent: 159 100% 15.5%;
		--accent-foreground: 159 10% 97.5%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 159 10% 97.5%;

		--ring: 159 100% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
